/* Write some CSS below */

/* style.css */
body {
  font-family: Overline underline 
  color: #023e8a;
  font-size: 16px;
  background-color: #eaf4ff ;
  font-family: 'Poppins', sans-serif;
}


h1{
	color: #000000;
	text-decoration:Overline underline;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

h2{
	size: 6px;
	color: #014f86;
	font-size: 17px;
}

h3 {
  font-family: Chivo;
  color: #014f86;
  font-family: 'Poppins', sans-serif;
  background-color: #d6eaff;
  text-align: center;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
  text-align: center;
}
a:hover {
  color: #CE2FAE;
  text-align: center;
}

.banner p {
  color: white;
  font-size: 17px;
}
.banner p2{
  color: white;
  font-size: 17px;
}

p: {
	color: #white;
}

img{
	width: 300px;
	align-items: center;
}

.card {
	text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/fond.jpeg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}


.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}


.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}



.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}
.footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }

  
  .card-white {
    width: auto;
  }

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}





